<div class="jumbotron md-whiteframe-z1" style="position: relative">
    <h1>Pagos</h1>
    <a href='#/contratos/{{vm.contrato._id}}/pagos/crear' class="btn btn-primary md-shadow-bottom-z-2 md-fab jumbotron-main-action"><span class="glyphicon glyphicon-plus"></span></a>
</div>
<div class="alert alert-success" role="alert" ng-if="vm.userIsUpToDate">
    El Inquilino se encuentra al dia con los pagos
</div>
<div class="alert alert-warning" role="alert" ng-if="vm.userIsAlmostDelayed">
    El Inquilino esta cerca de la fecha de vencimiento del pago del alquiler del mes actual
</div>
<div class="alert alert-danger" role="alert" ng-if="vm.userIsDelayed">
    El inquilino no ha pagado aun el mes actual
</div>
<contrato-detalle contrato="vm.contrato"></contrato-detalle>
<table class="table bs-table">
    <thead>
        <tr>
            <th class="text">Fecha Creacion</th>
            <th class="text">Pago</th>
            <th class="text">Realizado Por</th>
            <th class="number">Importe</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pago in vm.pagos">
            <td class="text">{{pago.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
            <td class="text">{{pago.fecha | date: 'MM/yyyy' }}</td>
            <td class="text">{{pago.realizadoPor}}</td>
            <td class="number">{{pago.importe}}</td>
            <td class="actions">
                <a href="" ng-click="vm.deletePago(pago)" tooltip="eliminar"><span class="glyphicon glyphicon-trash"></span></a>
                <a ng-href="#/contratos/{{vm.contrato._id}}/pagos/{{pago._id}}/editar" tooltip="editar"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
        </tr>
    </tbody>
</table>
