<nav class="navbar navbar-static-top navbar-inverse md-whiteframe-glow-z2" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Bienes Raices
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/">Inicio</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Current date: {{ vm.date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
