<div class="jumbotron md-whiteframe-z1" style="position: relative">
    <h1 ng-if='!vm.contrato._id'>Crear Contrato</h1>
    <h1 ng-if='vm.contrato._id'>Editar Contrato</h1>
</div>
<form name="form" novalidate>
    <fieldset>
        <legend>Propiedad e Involucrados</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.propiedad.$touched) && !form.propiedad.$error.required,
          'has-error': (form.$submitted || form.propiedad.$touched) && (form.propiedad.$error.required),
          'has-feedback': (form.$submitted || form.propiedad.$touched)}">
                    <label class="control-label" for="propiedad">Propiedad</label>
                    <ui-select ng-model="vm.contrato.propiedad" theme="bootstrap" id="propiedad" name="propiedad" reset-search-input="false" required="required">
                        <ui-select-match placeholder="Direccion propiedad">{{$select.selected.direccion.direccion}}</ui-select-match>
                        <ui-select-choices repeat="propiedad._id as propiedad in vm.propiedades">
                            <div ng-bind-html="propiedad.direccion.direccion | highlight: $select.search"></div>
                            <small>
                              <span ng-bind-html="propiedad.propietario.nombre | highlight: $select.search" style="margin-right: 2px"></span>
                              <span ng-bind-html="propiedad.propietario.apellido | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.propiedad.$touched" ng-class="{'glyphicon-ok': !form.propiedad.$error.required, 'glyphicon-remove': form.propiedad.$error.required } ">
                    </span>
                    <div ng-show="form.$submitted || form.propiedad.$touched">
                        <span class='control-error' ng-show="form.propiedad.$error.required">La propiedad es requerida</span>
                    </div>
                </div>
                <div class="form-group" ng-show="vm.contrato.propiedad">
                    <label for="propietario" class="control-label">Propietario</label>
                    <p id="propietario" name="propietario" class="form-control-static">{{vm.propietarioSeleccionado}}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.inquilino.$touched) && !form.inquilino.$error.required,
          'has-error': (form.$submitted || form.inquilino.$touched) && (form.inquilino.$error.required),
          'has-feedback': (form.$submitted || form.inquilino.$touched)}">
                    <label class="control-label" for="inquilino">Inquilino</label>
                    <ui-select ng-model="vm.contrato.inquilino" theme="bootstrap" id="inquilino" name="inquilino" reset-search-input="false" required="required">
                        <ui-select-match placeholder="Nombre inquilino">{{$select.selected.nombre}}, {{$select.selected.apellido}} </ui-select-match>
                        <ui-select-choices repeat="cliente._id as cliente in vm.clientes">
                            <span ng-bind-html="cliente.nombre | highlight: $select.search"></span>
                            <span ng-bind-html="cliente.apellido | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.inquilino.$touched" ng-class="{'glyphicon-ok': !form.inquilino.$error.required, 'glyphicon-remove': form.inquilino.$error.required } ">
            </span>
                    <div ng-show="form.$submitted || form.inquilino.$touched">
                        <span class='control-error' ng-show="form.inquilino.$error.required">El inquilino es requerido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.garante.$touched) && !form.garante.$error.required,
          'has-error': (form.$submitted || form.garante.$touched) && (form.garante.$error.required),
          'has-feedback': (form.$submitted || form.garante.$touched)}">
                    <label class="control-label" for="garante">Garante</label>
                    <ui-select ng-model="vm.contrato.garante" theme="bootstrap" id="garante" name="garante" reset-search-input="false" required="required">
                        <ui-select-match placeholder="Nombre garante">{{$select.selected.nombre}}, {{$select.selected.apellido}} </ui-select-match>
                        <ui-select-choices repeat="cliente._id as cliente in vm.clientes">
                            <span ng-bind-html="cliente.nombre | highlight: $select.search"></span>
                            <span ng-bind-html="cliente.apellido | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.garante.$touched" ng-class="{'glyphicon-ok': !form.garante.$error.required, 'glyphicon-remove': form.garante.$error.required } ">
            </span>
                    <div ng-show="form.$submitted || form.garante.$touched">
                        <span class='control-error' ng-show="form.garante.$error.required">El garante es requerido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Vigencia del contrato</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.fechaDesde.$touched) && !form.fechaDesde.$error.required && !form.fechaDesde.$error.date,
          'has-error': (form.$submitted || form.fechaDesde.$touched) && (form.fechaDesde.$error.required || form.fechaDesde.$error.date),
          'has-feedback': (form.$submitted || form.fechaDesde.$touched)}">
                    <label class="control-label" for="fechaDesde">Fecha Desde</label>
                    <div class="input-group">
                        <input type="text" datepicker-popup="dd/MM/yyyy" current-text="Hoy" is-open="vm.fechaDesdeOpened" clear-text="Borrar" close-text="Cerrar" class="form-control" ng-model="vm.contrato.fechaDesde" name="fechaDesde" id="fechaDesde" required="required" placeholder="dd/MM/yyyy" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.fechaDesde.$touched" ng-class="{'glyphicon-ok': !form.fechaDesde.$error.required && !form.fechaDesde.$error.date, 'glyphicon-remove': form.fechaDesde.$error.required || form.fechaDesde.$error.date}">
                    </span>
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.open($event, 'fechaDesdeOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="form.$submitted || form.fechaDesde.$touched">
                        <span class='control-error' ng-show="form.fechaDesde.$error.required">La fecha es requerida</span>
                        <span class='control-error' ng-show="form.fechaDesde.$error.date">La fecha es invalida</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.fechaHasta.$touched) && !form.fechaHasta.$error.required && !form.fechaHasta.$error.date,
          'has-error': (form.$submitted || form.fechaHasta.$touched) && (form.fechaHasta.$error.required || form.fechaHasta.$error.date),
          'has-feedback': (form.$submitted || form.fechaHasta.$touched)}">
                    <label class="control-label" for="fechaHasta">Fecha Hasta</label>
                    <div class="input-group">
                        <input type="text" datepicker-popup="dd/MM/yyyy" current-text="Hoy" is-open="vm.fechaHastaOpened" clear-text="Borrar" close-text="Cerrar" class="form-control" ng-model="vm.contrato.fechaHasta" name="fechaHasta" id="fechaHasta" required="required" placeholder="dd/MM/yyyy" />
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.fechaHasta.$touched" ng-class="{'glyphicon-ok': !form.fechaHasta.$error.required && !form.fechaHasta.$error.date , 'glyphicon-remove': form.fechaHasta.$error.required || form.fechaHasta.$error.date}">
                    </span>
                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="vm.open($event, 'fechaHastaOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div ng-show="form.$submitted || form.fechaHasta.$touched">
                        <span class='control-error' ng-show="form.fechaHasta.$error.required">La fecha es requerida</span>
                        <span class='control-error' ng-show="form.fechaHasta.$error.date">La fecha es invalida</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Montos e Intereses</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.alquiler.$touched) && !form.alquiler.$error.required && !form.alquiler.$error.number,
          'has-error': (form.$submitted || form.alquiler.$touched) && (form.alquiler.$error.required || form.alquiler.$error.number),
          'has-feedback': (form.$submitted || form.alquiler.$touched)}">
                    <label class="control-label" for="alquiler">Alquiler</label>
                    <input type="number" class="form-control" ng-model="vm.contrato.alquiler" name="alquiler" id="alquiler" required="required" placeholder="Alquiler" />
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.alquiler.$touched" ng-class="{'glyphicon-ok': !form.alquiler.$error.required && !form.alquiler.$error.number, 'glyphicon-remove': form.alquiler.$error.required || form.alquiler.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.alquiler.$touched">
                        <span class='control-error' ng-show="form.alquiler.$error.required">El monto de alquiler es requerido</span>
                        <span class='control-error' ng-show="form.alquiler.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.deposito.$touched) && !form.deposito.$error.required && !form.deposito.$error.number,
          'has-error': (form.$submitted || form.deposito.$touched) && (form.deposito.$error.required || form.deposito.$error.number),
          'has-feedback': (form.$submitted || form.deposito.$touched)}">
                    <label class="control-label" for="deposito">Deposito</label>
                    <input type="number" class="form-control" ng-model="vm.contrato.deposito" name="deposito" id="deposito" required="required" placeholder="Deposito">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.deposito.$touched" ng-class="{'glyphicon-ok': !form.deposito.$error.required && !form.deposito.$error.number, 'glyphicon-remove': form.deposito.$error.required || form.deposito.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.deposito.$touched">
                        <span class='control-error' ng-show="form.deposito.$error.required">El monto de deposito es requerido</span>
                        <span class='control-error' ng-show="form.deposito.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="tipoInteres">Tipo Interes</label>
                    <select class="form-control" ng-options="item.value as item.label for item in vm.tipoIntereses" id="tipoInteres" name="tipoInteres" ng-model="vm.contrato.tipoInteres">
                    </select>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.interes.$touched) && !form.interes.$error.required && !form.interes.$error.number,
          'has-error': (form.$submitted || form.interes.$touched) && (form.interes.$error.required || form.interes.$error.number),
          'has-feedback': (form.$submitted || form.interes.$touched)}">
                    <label class="control-label" for="interes">Interes %</label>
                    <input type="number" class="form-control" ng-model="vm.contrato.interes" name="interes" id="interes" required="required" placeholder="Interes" ng-disabled="!vm.contrato.tipoInteres">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.interes.$touched" ng-class="{'glyphicon-ok': !form.interes.$error.required && !form.interes.$error.number, 'glyphicon-remove': form.interes.$error.required || form.interes.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.interes.$touched">
                        <span class='control-error' ng-show="form.interes.$error.required">El interes es requerido</span>
                        <span class='control-error' ng-show="form.interes.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.multaDiaria.$touched) && !form.multaDiaria.$error.required && !form.multaDiaria.$error.number,
          'has-error': (form.$submitted || form.multaDiaria.$touched) && (form.multaDiaria.$error.required || form.multaDiaria.$error.number),
          'has-feedback': (form.$submitted || form.multaDiaria.$touched)}">
                    <label class="control-label" for="multaDiaria">Multa Diaria %</label>
                    <input type="number" class="form-control" ng-model="vm.contrato.multaDiaria" name="multaDiaria" id="multaDiaria" required="required" placeholder="Multa Diaria">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.multaDiaria.$touched" ng-class="{'glyphicon-ok': !form.multaDiaria.$error.required && !form.multaDiaria.$error.number, 'glyphicon-remove': form.multaDiaria.$error.required || form.multaDiaria.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.multaDiaria.$touched">
                        <span class='control-error' ng-show="form.multaDiaria.$error.required">La multa diaria es requerida</span>
                        <span class='control-error' ng-show="form.multaDiaria.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Alquileres Calculados</legend>
        <!-- <div class="pull-right" style="margin-bottom: 3px;">
            <button class="btn btn-default" type="button" ng-click="vm.calcularAlquileres()">Calcular Alquileres</button>
        </div> -->
        <table class="table  table-bordered">
            <thead>
                <tr>
                    <th>Fecha Desde</th>
                    <th>Fecha Hasta</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbdoy>
                <tr ng-repeat="alquiler in vm.alquileresCalculados">
                    <td>{{alquiler.fechaDesde | date: 'dd/MM/yyyy'}}</td>
                    <td>{{alquiler.fechaHasta | date: 'dd/MM/yyyy'}}</td>
                    <td>{{alquiler.valor}}</td>
                </tr>
            </tbdoy>
        </table>
    </fieldset>
    <div class="pull-right" style="margin-top: 5px; margin-bottom: 5px;">
        <a class="btn btn-default md-shadow-bottom-z-1" href="#/contratos">Cancelar</a>
        <button type="submit" class="btn btn-primary md-shadow-bottom-z-1" ng-click="vm.save()" ng-disabled="!form.$valid">Guardar</button>
    </div>
</form>
