<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon" ng-class="{'glyphicon-plus': !isCollapsed, 'glyphicon-minus': isCollapsed}" style="margin-right:5px;"></span>Detalle del Contrato </button>
<hr>
<form class="form-horizontal" style="margin-bottom:5px;" collapse="!isCollapsed">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="propiedad" class="col-md-3 control-label text-left">Propiedad</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{contrato.propiedadDireccion}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inquilino" class="col-md-3 control-label text-left">Inquilino</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{contrato.inquilinoNombreCompleto}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="alquiler" class="col-md-3 control-label text-left">Alquiler</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{alquilerCalculado | number:2}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="fechaDesde" class="col-md-3 control-label text-left">Fecha Desde</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{contrato.fechaDesde | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaHasta" class="col-md-3 control-label text-left">Fecha Hasta</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{contrato.fechaHasta | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaHasta" class="col-md-3 control-label text-left">Multa Diaria</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{contrato.multaDiaria}} %</p>
                </div>
            </div>
        </div>
    </div>
</form>
