<div class="jumbotron md-whiteframe-z1" style="position: relative">
    <h1>Crear Propiedad</h1>
</div>
<form name="form" novalidate>
    <fieldset>
        <legend>Localizacion</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.direccion.$touched) && !form.direccion.$error.required,
                     'has-error': (form.$submitted || form.direccion.$touched) && (form.direccion.$error.required),
                     'has-feedback': (form.$submitted || form.direccion.$touched)}">
                    <label class="control-label" for="direccion">Direccion</label>
                    <input type="text" class="form-control" ng-model="vm.propiedad.direccion.direccion" name="direccion" id="direccion" required="required" placeholder="direccion">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.direccion.$touched" ng-class="{'glyphicon-ok': !form.direccion.$error.required, 'glyphicon-remove': form.direccion.$error.required}">
            </span>
                    <div ng-show="form.$submitted || form.direccion.$touched">
                        <span class='control-error' ng-show="form.direccion.$error.required">La direccion es requerida</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.ciudad.$touched) && !form.ciudad.$error.required,
          'has-error': (form.$submitted || form.ciudad.$touched) && (form.ciudad.$error.required),
          'has-feedback': (form.$submitted || form.ciudad.$touched)}">
                    <label class="control-label" for="ciudad">Ciudad</label>
                    <input type="text" class="form-control" ng-model="vm.propiedad.direccion.ciudad" name="ciudad" id="ciudad" required="required" placeholder="ciudad">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.ciudad.$touched" ng-class="{'glyphicon-ok': !form.ciudad.$error.required, 'glyphicon-remove': form.ciudad.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.ciudad.$touched">
                        <span class='control-error' ng-show="form.ciudad.$error.required">La ciudad es requerida</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.provincia.$touched) && !form.provincia.$error.required,
          'has-error': (form.$submitted || form.provincia.$touched) && (form.provincia.$error.required),
          'has-feedback': (form.$submitted || form.provincia.$touched)}">
                    <label class="control-label" for="provincia">Provincia</label>
                    <input type="text" class="form-control" ng-model="vm.propiedad.direccion.provincia" name="provincia" id="provincia" required="required" placeholder="provincia">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.provincia.$touched" ng-class="{'glyphicon-ok': !form.provincia.$error.required, 'glyphicon-remove': form.provincia.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.provincia.$touched">
                        <span class='control-error' ng-show="form.provincia.$error.required">La provincia es requerida</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.codigoPostal.$touched) && !form.codigoPostal.$error.required,
          'has-error': (form.$submitted || form.codigoPostal.$touched) && (form.codigoPostal.$error.required),
          'has-feedback': (form.$submitted || form.codigoPostal.$touched)}">
                    <label class="control-label" for="codigoPostal">Codigo Postal</label>
                    <input type="text" class="form-control" ng-model="vm.propiedad.direccion.codigoPostal" name="codigoPostal" id="codigoPostal" required="required" placeholder="codigo postal">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.codigoPostal.$touched" ng-class="{'glyphicon-ok': !form.codigoPostal.$error.required, 'glyphicon-remove': form.codigoPostal.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.codigoPostal.$touched">
                        <span class='control-error' ng-show="form.codigoPostal.$error.required">El codigo postal es requerido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.pais.$touched) && !form.pais.$error.required,
          'has-error': (form.$submitted || form.pais.$touched) && (form.pais.$error.required),
          'has-feedback': (form.$submitted || form.pais.$touched)}">
                    <label class="control-label" for="pais">Pais</label>
                    <input type="text" class="form-control" ng-model="vm.propiedad.direccion.pais" name="pais" id="pais" required="required" placeholder="pais">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.pais.$touched" ng-class="{'glyphicon-ok': !form.pais.$error.required, 'glyphicon-remove': form.pais.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.pais.$touched">
                        <span class='control-error' ng-show="form.pais.$error.required">El pais es requerido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Detalles del inmueble</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.propietario.$touched) && !form.propietario.$error.required,
          'has-error': (form.$submitted || form.propietario.$touched) && (form.propietario.$error.required),
          'has-feedback': (form.$submitted || form.propietario.$touched)}">
                    <label class="control-label" for="propietario">Propietario</label>
                    <ui-select ng-model="vm.propiedad.propietario" theme="bootstrap" id="propietario" name="propietario" reset-search-input="false" required="required">
                        <ui-select-match placeholder="Nombre propietario">{{$select.selected.nombre}}, {{$select.selected.apellido}} </ui-select-match>
                        <ui-select-choices repeat="cliente._id as cliente in vm.clientes">
                            <span ng-bind-html="cliente.nombre | highlight: $select.search"></span>
                            <span ng-bind-html="cliente.apellido | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.propietario.$touched" ng-class="{'glyphicon-ok': !form.propietario.$error.required, 'glyphicon-remove': form.propietario.$error.required } ">
            </span>
                    <div ng-show="form.$submitted || form.propietario.$touched">
                        <span class='control-error' ng-show="form.propietario.$error.required">El propietario es requerido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.ambientes.$touched) && !form.ambientes.$error.required && !form.ambientes.$error.number,
          'has-error': (form.$submitted || form.ambientes.$touched) && (form.ambientes.$error.required || form.ambientes.$error.number),
          'has-feedback': (form.$submitted || form.ambientes.$touched)}">
                    <label class="control-label" for="ambientes">Nro. Ambientes</label>
                    <input type="number" class="form-control" ng-model="vm.propiedad.ambientes" name="ambientes" id="ambientes" required="required" placeholder="nro ambientes">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.ambientes.$touched" ng-class="{'glyphicon-ok': !form.ambientes.$error.required && !form.ambientes.$error.number, 'glyphicon-remove': form.ambientes.$error.required || form.ambientes.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.ambientes.$touched">
                        <span class='control-error' ng-show="form.ambientes.$error.required">El numero de ambientes es requerido</span>
                        <span class='control-error' ng-show="form.ambientes.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.banios.$touched) && !form.banios.$error.required && !form.banios.$error.number,
          'has-error': (form.$submitted || form.banios.$touched) && (form.banios.$error.required || form.banios.$error.number),
          'has-feedback': (form.$submitted || form.banios.$touched)}">
                    <label class="control-label" for="banios">Nro. Banios</label>
                    <input type="number" class="form-control" ng-model="vm.propiedad.banios" name="banios" id="banios" required="required" placeholder="nro banios">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.banios.$touched" ng-class="{'glyphicon-ok': !form.banios.$error.required && !form.banios.$error.number, 'glyphicon-remove': form.banios.$error.required || form.banios.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.banios.$touched">
                        <span class='control-error' ng-show="form.banios.$error.required">El numero de banios es requerido</span>
                        <span class='control-error' ng-show="form.banios.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.expensas.$touched) && !form.expensas.$error.required && !form.expensas.$error.number,
          'has-error': (form.$submitted || form.expensas.$touched) && (form.expensas.$error.required || form.expensas.$error.number),
          'has-feedback': (form.$submitted || form.expensas.$touched)}">
                    <label class="control-label" for="expensas">Expensas</label>
                    <input type="number" class="form-control" ng-model="vm.propiedad.expensas" name="expensas" id="expensas" required="required" placeholder="expensas">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.expensas.$touched" ng-class="{'glyphicon-ok': !form.expensas.$error.required && !form.expensas.$error.number, 'glyphicon-remove': form.expensas.$error.required || form.expensas.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.expensas.$touched">
                        <span class='control-error' ng-show="form.expensas.$error.required">El numero de expensas es requerido</span>
                        <span class='control-error' ng-show="form.expensas.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.metrosCuadrados.$touched) && !form.metrosCuadrados.$error.required && !form.metrosCuadrados.$error.number,
          'has-error': (form.$submitted || form.metrosCuadrados.$touched) && (form.metrosCuadrados.$error.required || form.metrosCuadrados.$error.number),
          'has-feedback': (form.$submitted || form.metrosCuadrados.$touched)}">
                    <label class="control-label" for="metrosCuadrados">Metros Cuadrados</label>
                    <input type="number" class="form-control" ng-model="vm.propiedad.metrosCuadrados" name="metrosCuadrados" id="metrosCuadrados" required="required" placeholder="nro metros cuadrados">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.metrosCuadrados.$touched" ng-class="{'glyphicon-ok': !form.metrosCuadrados.$error.required && !form.metrosCuadrados.$error.number, 'glyphicon-remove': form.metrosCuadrados.$error.required || form.metrosCuadrados.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.metrosCuadrados.$touched">
                        <span class='control-error' ng-show="form.metrosCuadrados.$error.required">El numero de metros cuadrados es requerido</span>
                        <span class='control-error' ng-show="form.metrosCuadrados.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="pull-right" style="margin-top: 5px">
        <a class="btn btn-default md-shadow-bottom-z-1" href="#/propiedades">Cancelar</a>
        <button type="submit" class="btn btn-primary md-shadow-bottom-z-1" ng-click="vm.save()" ng-disabled="!form.$valid">Guardar</button>
    </div>

</form>
