<div class="jumbotron md-whiteframe-z1" style="position: relative">
    <h1 ng-if='!vm.cliente._id'>Nuevo Cliente</h1>
    <h1 ng-if='vm.cliente._id'>Editar Cliente</h1>

</div>
<form name="form" novalidate>
    <fieldset>
        <legend>Datos Personales</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.nombre.$touched) && !form.nombre.$error.required,
          'has-error': (form.$submitted || form.nombre.$touched) && (form.nombre.$error.required),
          'has-feedback': (form.$submitted || form.nombre.$touched)}">
                    <label class="control-label" for="nombre">Nombre</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.nombre" name="nombre" id="nombre" required="required" placeholder="nombre">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.nombre.$touched" ng-class="{'glyphicon-ok': !form.nombre.$error.required, 'glyphicon-remove': form.nombre.$error.required} ">
            </span>
                    <div ng-show="form.$submitted || form.nombre.$touched">
                        <span class='control-error' ng-show="form.nombre.$error.required">El nombre es requerido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.apellido.$touched) && !form.apellido.$error.required,
          'has-error': (form.$submitted || form.apellido.$touched) && (form.apellido.$error.required),
          'has-feedback': (form.$submitted || form.apellido.$touched)}">
                    <label class="control-label" for="apellido">Apellido</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.apellido" name="apellido" id="apellido" required="required" placeholder="apellido">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.apellido.$touched" ng-class="{'glyphicon-ok': !form.apellido.$error.required, 'glyphicon-remove': form.apellido.$error.required} ">
            </span>
                    <div ng-show="form.$submitted || form.apellido.$touched">
                        <span class='control-error' ng-show="form.apellido.$error.required">El apellido es requerido</span>
                    </div>
                </div>
                 <div class="form-group" ng-class="{'has-success': (form.$submitted || form.email.$touched) && !form.email.$error.email,
          'has-error': (form.$submitted || form.email.$touched) && (form.email.$error.email),
          'has-feedback': (form.$submitted || form.email.$touched)}">
                    <label class="control-label" for="email">email</label>
                    <input type="email" class="form-control" ng-model="vm.cliente.email" name="email" id="email" placeholder="e-mail">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.email.$touched" ng-class="{'glyphicon-ok': !form.email.$error.required, 'glyphicon-remove': form.email.$error.required} ">
            </span>
                    <div ng-show="form.$submitted || form.email.$touched">
                        <span class='control-error' ng-show="form.email.$error.email">El mail es invalido</span>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.nroTelefonoCasa.$touched) && !form.nroTelefonoCasa.$error.number,
          'has-error': (form.$submitted || form.nroTelefonoCasa.$touched) && (form.nroTelefonoCasa.$error.number),
          'has-feedback': (form.$submitted || form.nroTelefonoCasa.$touched)}">
                    <label class="control-label" for="nroTelefonoCasa">Nro. Telefono</label>
                    <input type="number" class="form-control" ng-model="vm.cliente.nroTelefonoCasa" name="nroTelefonoCasa" id="nroTelefonoCasa" placeholder="Telefono de casa">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.nroTelefonoCasa.$touched" ng-class="{'glyphicon-ok': !form.nroTelefonoCasa.$error.number, 'glyphicon-remove': form.nroTelefonoCasa.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.nroTelefonoCasa.$touched">
                        <span class='control-error' ng-show="form.nroTelefonoCasa.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.nroTelefonoCelular.$touched) && !form.nroTelefonoCelular.$error.required && !form.nroTelefonoCelular.$error.number,
          'has-error': (form.$submitted || form.nroTelefonoCelular.$touched) && (form.nroTelefonoCelular.$error.number),
          'has-feedback': (form.$submitted || form.nroTelefonoCelular.$touched)}">
                    <label class="control-label" for="nroTelefonoCelular">Nro. Celular</label>
                    <input type="number" class="form-control" ng-model="vm.cliente.nroTelefonoCelular" name="nroTelefonoCelular" id="nroTelefonoCelular" placeholder="Celular">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.nroTelefonoCelular.$touched" ng-class="{'glyphicon-ok': !form.nroTelefonoCelular.$error.number, 'glyphicon-remove': form.nroTelefonoCelular.$error.number} ">
            </span>
                    <div ng-show="form.$submitted || form.nroTelefonoCelular.$touched">
                        <span class='control-error' ng-show="form.nroTelefonoCelular.$error.number">Por favor ingrese un numero valido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Localizacion</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.direccion.$touched) && !form.direccion.$error.required,
                     'has-error': (form.$submitted || form.direccion.$touched) && (form.direccion.$error.required),
                     'has-feedback': (form.$submitted || form.direccion.$touched)}">
                    <label class="control-label" for="direccion">Direccion</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.direccion.direccion" name="direccion" id="direccion" required="required" placeholder="direccion">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.direccion.$touched" ng-class="{'glyphicon-ok': !form.direccion.$error.required, 'glyphicon-remove': form.direccion.$error.required}">
            </span>
                    <div ng-show="form.$submitted || form.direccion.$touched">
                        <span class='control-error' ng-show="form.direccion.$error.required">La direccion es requerida</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.ciudad.$touched) && !form.ciudad.$error.required,
          'has-error': (form.$submitted || form.ciudad.$touched) && (form.ciudad.$error.required),
          'has-feedback': (form.$submitted || form.ciudad.$touched)}">
                    <label class="control-label" for="ciudad">Ciudad</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.direccion.ciudad" name="ciudad" id="ciudad" required="required" placeholder="ciudad">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.ciudad.$touched" ng-class="{'glyphicon-ok': !form.ciudad.$error.required, 'glyphicon-remove': form.ciudad.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.ciudad.$touched">
                        <span class='control-error' ng-show="form.ciudad.$error.required">La ciudad es requerida</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.provincia.$touched) && !form.provincia.$error.required,
          'has-error': (form.$submitted || form.provincia.$touched) && (form.provincia.$error.required),
          'has-feedback': (form.$submitted || form.provincia.$touched)}">
                    <label class="control-label" for="provincia">Provincia</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.direccion.provincia" name="provincia" id="provincia" required="required" placeholder="provincia">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.provincia.$touched" ng-class="{'glyphicon-ok': !form.provincia.$error.required, 'glyphicon-remove': form.provincia.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.provincia.$touched">
                        <span class='control-error' ng-show="form.provincia.$error.required">La provincia es requerida</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.codigoPostal.$touched) && !form.codigoPostal.$error.required,
          'has-error': (form.$submitted || form.codigoPostal.$touched) && (form.codigoPostal.$error.required),
          'has-feedback': (form.$submitted || form.codigoPostal.$touched)}">
                    <label class="control-label" for="codigoPostal">Codigo Postal</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.direccion.codigoPostal" name="codigoPostal" id="codigoPostal" required="required" placeholder="codigo postal">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.codigoPostal.$touched" ng-class="{'glyphicon-ok': !form.codigoPostal.$error.required, 'glyphicon-remove': form.codigoPostal.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.codigoPostal.$touched">
                        <span class='control-error' ng-show="form.codigoPostal.$error.required">El codigo postal es requerido</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success': (form.$submitted || form.pais.$touched) && !form.pais.$error.required,
          'has-error': (form.$submitted || form.pais.$touched) && (form.pais.$error.required),
          'has-feedback': (form.$submitted || form.pais.$touched)}">
                    <label class="control-label" for="pais">Pais</label>
                    <input type="text" class="form-control" ng-model="vm.cliente.direccion.pais" name="pais" id="pais" required="required" placeholder="pais">
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="form.$submitted || form.pais.$touched" ng-class="{'glyphicon-ok': !form.pais.$error.required, 'glyphicon-remove': form.pais.$error.required }">
            </span>
                    <div ng-show="form.$submitted || form.pais.$touched">
                        <span class='control-error' ng-show="form.pais.$error.required">El pais es requerido</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="pull-right" style="margin-top: 5px">
        <a class="btn btn-default md-shadow-bottom-z-1" href="#/clientes">Cancelar</a>
        <button type="submit" class="btn btn-primary md-shadow-bottom-z-1" ng-click="vm.saveCliente()" ng-disabled="!form.$valid">Guardar</button>
    </div>
</form>
